[submodule "react-hook-form-analysis"]
	path = react-hook-form-analysis
	url = git@github.com:Col0ring/react-hook-form-analysis.git
[submodule "rc-field-form-analysis"]
	path = rc-field-form-analysis
	url = git@github.com:Col0ring/rc-field-form-analysis.git
[submodule "rc-form-analysis"]
	path = rc-form-analysis
	url = git@github.com:Col0ring/rc-form-analysis.git
[submodule "react-final-form-analysis"]
	path = react-final-form-analysis
	url = git@github.com:Col0ring/react-final-form-analysis.git
[submodule "final-form-analysis"]
	path = final-form-analysis
	url = git@github.com:Col0ring/final-form-analysis.git
